* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;

    --title-color: #E1E1E6;
    --text-color: #E1E1E6;
}

.fundo-home, .fundo-universe, .fundo-explore {
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#app {
    color: white;
}

#menu {
    display: flex;
    align-items: center;
    gap: 3.2rem;

    padding: 7.2rem;
}

#menu ul {
    display: flex;
    flex-direction: row;
    gap: 4.2rem;

    font-size: 2.4rem;
    list-style-type: none;
}

#menu ul a {
    color: #C4C4CC;
    text-decoration: none;
}

/* Estilizando páginas */

/* Home */
.home-container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    align-items: center;
    justify-content: center;

    margin: 17rem 44rem;
    
}

.home-container h1 {
    font-size: 4.8rem;
}

.home-container div button {
    position: relative; /* Adiciona a posição relativa ao botão */
    border: none;
    border-radius: .5rem;

    padding: 1.2rem 3.2rem;

    font-weight: bold;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #FFF; /* Cor padrão do texto */

    background-color: transparent;
    border: .2rem solid #FFF;
    cursor: pointer;
    overflow: hidden; /* Garante que o conteúdo não transborde */
}

.home-container div button::before {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    color: #02799D;
    background-color: #FFF;
    transition: 0.4s all ease-in-out 0s;
}

.home-container div button:hover::before {
    bottom: 0;
}

.home-container div button:hover {
    color: #02799D;
}

.fundo-home {
    background-image: url("/images/fundo-home.png");
}

/* Universe  e Explorer */

.universe-container, .explore-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    width: 65rem;
    margin: 6.3rem auto auto 10rem;

}

.universe-container h1, .explore-container h1 {
    font-weight: bold;
    font-size: 4.8rem;
    color: var(--title-color);
}

.universe-container p, .explore-container p {
    text-align: justify;
    font-size: 1.8rem;
    color: var(--text-color);
}

.fundo-universe {
    background-image: url("./images/fundo-universe.png");
}

.fundo-explore {
    background-image: url("./images/fundo-explore.png");
}